{% extends 'casher_dash/casher_dash.html' %}
{% load static %}
{% block content %}


<body>
  <!-- Pre Loader -->
  <div class="loading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <!--/Pre Loader -->
  <!-- Color Changer -->

  <!-- /Color Changer -->
  <div class="wrapper">		
    <!-- Page Content -->
    <div id="content">

      <!-- Page Title -->
      <div class="container mt-0">
        <div class="row breadcrumb-bar">
          <div class="col-md-6">
            <h3 class="block-title">Quick Statistics</h3>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <span class="ti-home"></span>
                </a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /Page Title -->
      <!-- /Breadcrumb -->
      <!-- Main Content -->
      <div class="container home">
        <div class="row">
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-red">
              <div class="widget-left">
                <span class="ti-user"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Patients</h4>
                <span class="numeric color-red">50</span>
                
                <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-green">
              <div class="widget-left">
                <span class="ti-timer"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Appointments </h4>
                <span class="numeric color-green">64</span>
                <p class="inc-dec mb-0"><span class="ti-angle-down"></span> +15% Increased</p>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-yellow">
              <div class="widget-left">
                <span class="ti-wallet"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Revenue</h4>
                <span class="numeric color-yellow">$45670</span>
                <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-red">
              <div class="widget-left">
                <span class="ti-na"></span>
              </div>
            
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Prescriptions</h4>
                <span class="numeric color-red">20</span>
                
                <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +20% Increased</p>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-green">
              <div class="widget-left">
                <span class="ti-bookmark-alt"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Histories</h4>
                <span class="numeric color-green">79</span>
                <p class="inc-dec mb-0"><span class="ti-angle-down"></span> +15% Increased</p>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-yellow">
              <div class="widget-left">
                <span class=" ti-filter"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Laboratories</h4>
                <span class="numeric color-yellow">80</span>
                <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
        </div>
        <div class="row">
          <!-- Widget Item -->
          <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
              <h3 class="widget-title">Appointments</h3>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Doctor</th>
                      <th>Check-Up</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Rajesh</td>
                      <td>Manoj Kumar</td>
                      <td>Dental</td>
                      <td>12-10-2018</td>
                      <td>12:10PM</td>
                      <td>
                        <span class="badge badge-success">Completed</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Riya</td>
                      <td>Daniel </td>
                      <td>Ortho</td>
                      <td>12-10-2018</td>
                      <td>1:10PM</td>
                      <td>
                        <span class="badge badge-warning">Pending</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Siri</td>
                      <td>Daniel </td>
                      <td>Ortho</td>
                      <td>12-10-2018</td>
                      <td>1:30PM</td>
                      <td>
                        <span class="badge badge-danger">Cancelled</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Rajesh</td>
                      <td>Manoj Kumar</td>
                      <td>Dental</td>
                      <td>12-10-2018</td>
                      <td>12:10PM</td>
                      <td>
                        <span class="badge badge-success">Completed</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Riya</td>
                      <td>Daniel </td>
                      <td>Ortho</td>
                      <td>12-10-2018</td>
                      <td>1:10PM</td>
                      <td>
                        <span class="badge badge-warning">Pending</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Siri</td>
                      <td>Daniel </td>
                      <td>Ortho</td>
                      <td>12-10-2018</td>
                      <td>1:30PM</td>
                      <td>
                        <span class="badge badge-danger">Cancelled</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
        </div>
      </div>
      <!-- /Main Content -->
      <!--Copy Rights-->
      <div class="container">
        <div class="d-sm-flex justify-content-center">
          <span class="text-muted text-center d-block d-sm-inline-block">Copyright © 2018 <a href="http://www.konnectplugins.com/" target="_blank">konnectcode</a>. All rights reserved.</span>
        </div>
      </div>
      <!-- /Copy Rights-->
    </div>
    <!-- /Page Content -->
  </div>
  <!-- Back to Top -->
  <a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
  </a>
  <!-- /Back to Top -->


</body>
 {% endblock %}