{% extends 'casher_dash/casher_dash.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block 'title' %}
  <title>Lab Payment Requests</title>
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    <!-- Page Content -->
    <div id="content">
   
  <div class="container home">
    <div class="container mt-0">
      <div class="row breadcrumb-bar">
        <div class="col-md-6">
          <h3 class="block-title">Lab Payment Requests</h3>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">
                <span class="ti-home"></span>
              </a>
            </li>
            <li class="breadcrumb-item active">Lab Payment Requests</li>
            <li class="breadcrumb-item ">Unpayed Requests</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <p class="wiget-title color-yellow "> Remaning unpayed requests are : {{ request_count }}</p> -->

      {% for pay in page_obj %}

      <div class="col-md-6">
        <div class="widget-area proclinic-box-shadow color-red" style="padding: 10px 30px; border-radius: 20px;">

          <div class="widget-right justify-content-center">

            <h3 class="wiget-title color-green text-center">Lab Payment Requests</h3>
            <p><strong style="font-size: large;">&nbsp;&nbsp;Patient ID:&nbsp;</strong>{{ pay.PatientID}}</p>
            <p><strong style="font-size: large;">&nbsp;&nbsp;lab. type:&nbsp;</strong>{{ pay.Lab_type}}</p>
            <p><strong style="font-size: large;">&nbsp;&nbsp;Doctor Name:&nbsp;</strong>{{ pay.Doctor_ID}}</p>
            <p><strong style="font-size: large;">&nbsp;&nbsp;Admitted Date:&nbsp;</strong>{{ pay.Admit_date}}</p>
      <form action="{% url 'checked_payment_request' pay.Lab_number %}" method="post">
        {% csrf_token %}
        
        <button type="submit" class="btn btn-outline-info mt-3 mb-0 me-4"><span class="ti-check-box"></span>
          Payed</button>
        
          <a href="{% url 'add-payment' pay.PatientID %}" class="btn btn-outline-info mt-3 mb-0"><span class="ti-plus"></span>
            Payment</a>
      </form>
             
         

          </div>
        </div>
      </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
      
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
      
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
    
  </div>
</div>
</div>
</body>

</html>
{% endblock %}