
{% extends 'admin_app/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% block 'title' %}
    <title>Change Credentials</title>
    {% endblock %}
</head>
<body>
    <h2>Change Credentials</h2>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'change_credentials' %}">
        {% csrf_token %}
        <label for="username">New Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="current_password">Current Password:</label><br>
        <input type="password" id="current_password" name="current_password" required><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br>
        <label for="confirm_new_password">Confirm New Password:</label><br>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
{% endblock %}