
{% extends 'admin_app/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

     <link rel="stylesheet" href="{% static 'login.css' %}" />
</head>
<div class="container3">
    <h1 class="form-title">LOGIN</h1>
    <form action="#">
      <div class="main-user-info">
     
                <div class="user-input-box" style="display: inline-flex;">
                <label for="username">Username</label>
                <i class="fa-solid fa-user p-2" style="font-size: 34px;"></i>
                <input type="text"
                        id="username"
                        name="username"
                        placeholder="Enter Username"/>
                </div>
            
                <div class="user-input-box" style="display: inline-flex;">
                    <label for="proffession">Proffession</label>
                    <i class="fa-solid fa-user-doctor p-2 " style="font-size: 34px;"></i>
                    <input type="text"
                            id="proffesion"
                            name="proffesion"
                            placeholder="Enter Proffession"/>
                    </div>
            
                <div class="user-input-box" style="display: inline-flex;">
                <label for="password"> Password</label>

                <i class="fa-solid fa-lock p-2" style="font-size: 34px;"></i>
                <input type="password"
                        id="password"
                        name="password"
                        placeholder="Enter Password"/>
                </div>
      </div>
   
      <div class="form-submit-btn m-2">
        <input type="submit" value="Login">
      </div>
      <div class="d-flex justify-content-end text-light ">Forget Your Password?
        <a href="{% url 'password_reset' %}">click here</a>
      </div>
    </form>
  </div>
  {% endblock  %}