{% extends 'admin_dash/web_home.html' %}

{% block 'title' %}
<title>Reset Form</title>
{% endblock %}
{% block content %}
<style>
    input[type='text'],
    input[type='email'],
    input[type='password']{
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid rgb(212, 212, 212);
        transition: all 0.3s ease-in-out;
        background-color: rgb(214, 214, 214);
    }
    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active
    {
  outline: none;
  border: 2px solid rgb(70, 167, 165);
    }
</style>
<div class="container " style="height: auto; 
max-width: 800px; 
background-color: rgb(254, 255, 255);
 border-radius: 10px;
  margin-top: 50px;
  padding: 30px; border: 2px solid rgb(94, 160, 185);">
            <div class=" d-flex justify-content-center mb-4">
            <h3>Forget Password</h3>
        </div>
            <div class="d-flex justify-content-center m-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
        </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success" style="width: 200px; height: 50px; font-size: larger;">Submit</button>
        </div>
        </form>
</div>
{% endblock %}