{% extends 'admin_dash/web_home.html' %}
{% block 'title' %}
<title>Reset Password Done</title>
{% endblock %}
{% block content %}
<div class="container " style="height: auto; 
max-width: 800px; 
background-color: rgb(254, 255, 255);
 border-radius: 10px;
  margin-top: 50px;
  padding: 30px; border: 2px solid rgb(94, 160, 185);">
  <div class="container d-flex justify-content-center ">
    <h3>Password reset sent</h3>
  </div>
  <div class="container ">
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.</p>
  </div>
  <div class="container ">
    <P>If you don’t receive an email, please make sure you’ve entered the address you registered with,
      and check your spam folder.</P>
  </div>
</div>
{% endblock %}