{% extends 'admin_dash/web_home.html' %}
{% block 'title' %}

<title>Reset Password Confirm</title>
{% endblock %}
{% block content %}

<style>
    input[type='text'],
    input[type='email'],
 
    input[type='password'] {
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: rgb(221, 220, 220);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
        outline: none;
        border: 2px solid rgb(77, 73, 73);
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% if validlink %}
<div class="container " style="height: auto; 
max-width: 800px; 
background-color: rgb(254, 255, 255);
 border-radius: 10px;
  margin-top: 50px;
  padding: 30px; border: 2px solid rgb(94, 160, 185);">
    <div class="container d-flex justify-content-center">
        <h3>Change Password</h3>
    </div>
    <div class="container d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-success" style="width: 200px; height: 50px; font-size: larger;">Change password</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="container d-flex justify-content-center">
        <p>The password reset link was invalid, possibly because it has already been used.
            please request a new password reset.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}