<div class="container menu-nav" id="container-min">
    <nav class="navbar navbar-expand-lg proclinic-bg text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu text-white"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-home"></span>
                        Dashboard</a>
                    
                </li>
           
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Patients</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add_patient' %}">Add New Patient</a>
                        <a class="dropdown-item" href="{% url 'dis_patient' %}" >View Patients</a>
                        <a class="dropdown-item" href="#">Edit Patient</a>
                        <a class="dropdown-item" href="{% url 'about_patient' %}">About Patients</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Payment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="add-patient.html">Send Payment</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Others</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'dis_form' %}">Registration</a>
                        <a class="dropdown-item" href="#">View Appointment</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Notification</a>
                   
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Setting</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'show_rece_profile' %}"  >Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                </li>
            </ul>
        </div>
    </nav>
</div>