{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
    
.form-control {
   
   border-radius: 5px;
   margin-bottom: 10px;
}


.btn-primary {
  
   background-color: #007bff;
   border-color: #007bff;
   color: #fff;
}
.container{
   background-color: #ffffff;
}
label {
   /* Add your custom styles here */
   font-weight: bold;
   color: #fdfdfd;  /* Blue color, you can customize */
}
body{
   background-color: rgb(112, 110, 110);
}

</style>
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="container" style="width: 60%;">
            {% block content %} 
   
           {% endblock  %} 
        </div>
      </div>
 
</body>
</html>