{% extends 'doctor/dr_dash.html' %}
{% load static %}
{% block content %}


<body>
  <!-- Pre Loader -->
  <div class="loading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <!--/Pre Loader -->
  <!-- Color Changer -->

  <!-- /Color Changer -->
  <div class="wrapper">		
    <!-- Page Content -->
    <div id="content">

      <!-- Page Title -->
      <div class="container mt-0">
        <div class="row breadcrumb-bar">
          <div class="col-md-6">
            <h3 class="block-title">Quick Statistics</h3>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <span class="ti-home"></span>
                </a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /Page Title -->
 
      <!-- Main Content -->
      <div class="container home">
        <div class="row">
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-red">
              <div class="widget-left">
                <span class="ti-user"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Patients</h4>
                <span class="numeric color-red">49</span>
                
            
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-green">
              <div class="widget-left">
                <span class="ti-timer"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Appointments </h4>
                <span class="numeric color-green">40</span>
                
              </div>
            </div>
          </div>
          <!-- /Widget Item -->
          <!-- Widget Item -->
          <div class="col-md-4">
            <div class="widget-area proclinic-box-shadow color-yellow">
              <div class="widget-left">
                <span class="ti-wallet"></span>
              </div>
              <div class="widget-right">
                <h4 class="wiget-title text-success">Total Revenue</h4>
                <span class="numeric color-yellow">$4000</span>
                
              </div>
            </div>
          </div>
         
          <!-- /Widget Item -->
        </div>
        <div class="row">
          <!-- Widget Item -->
          <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
              <h3 class="widget-title">Appointments List</h3>
							<div class="table-responsive mb-3">
								<table id="tableId" class="table table-bordered table-striped">
									<thead>
										<tr>
									
											<th>Appointment No</th>
											<th>Patient ID</th>
											<th>Time Slot</th>
											<th>Appointment Date</th>

											<th>Problem</th>
											<th>Status</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for app in appointments %}
										<tr>
										
											<td>{{app.App_number}}</td>
											<td>{{app.PatientID}}</td>
											<td>{{app.Time_slot}}</td>
											<td>{{app.App_date}}</td>

											<td>{{app.App_reason}}</td>
											{% if app.App_status == 'Completed' %}
											<td>
												<span class="badge badge-success">{{app.App_status}}</span>
											</td>
											{% endif %}
											{% if app.App_status == 'Pending' %}
											<td>
												<span class="badge badge-warning">{{app.App_status}}</span>
											</td>
											{% endif %}
											{% if app.App_status == 'Cancelled' %}
											<td>
												<span class="badge badge-danger">{{app.App_status}}</span>
											</td>
											{% endif %}
											<td>
												
												<a href="{% url 'about-appointment' app.App_number %}" class="btn btn-outline-info "><span
														class="ti-eye"></span>DETAIL</a>
											</td>
										</tr>

										{% endfor %}
									</tbody>
								</table>

								<!--Export links-->
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center export-pagination">
										
									</ul>
								</nav>
								
							</div>
            </div>
          </div>
          <!-- /Widget Item -->
        </div>
      </div>
      <!-- /Main Content -->
      <!--Copy Rights-->
      <div class="container">
        <div class="d-sm-flex justify-content-center">
          <span class="text-muted text-center d-block d-sm-inline-block">Copyright © 2018 <a href="http://www.konnectplugins.com/" target="_blank">konnectcode</a>. All rights reserved.</span>
        </div>
      </div>
      <!-- /Copy Rights-->
    </div>
    <!-- /Page Content -->
  </div>
  <!-- Back to Top -->
  <a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
  </a>
  <!-- /Back to Top -->

</body> 
 {% endblock %}