<div class="container menu-nav" id="container-min">
    <nav class="navbar navbar-expand-lg proclinic-bg text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu text-white"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-home"></span>
                        Dashboard</a>
                    
                </li>
           
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Patients History</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Add History </a>
                        <a class="dropdown-item" href="{% url 'dis_history' %}">View History </a>
                        <a class="dropdown-item" href="{% url 'dis_history' %}">check patient </a>
                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Appointment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add-appointment' %}">Add Appointment </a>
                        <a class="dropdown-item" href="{% url 'dis-appointment' %}">View Appointment </a>
                        <a class="dropdown-item" href="#">Edit Appointment </a>
                        <a class="dropdown-item" href="#">About Appointments </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Laboratory</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add_lab' %}">Add Lab Test </a>
                        <a class="dropdown-item" href="{% url 'lab_tests' %}" > View Lab Test</a>
                        <a class="dropdown-item" href="#" > View Lab Result</a>
                    </div>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                            Prescriptions</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Set Prescription </a>
                        
                            <a class="dropdown-item" href="{% url 'perscriptions' %}">View Prescription</a>
                           
                        </div>
                        
                    </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Notification</a>
                   
                </li>

     
            </ul>
            </ul>
        </div>
    </nav>
</div>