<div class="container menu-nav" id="container-min">
    <nav class="navbar navbar-expand-lg proclinic-bg text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu text-white"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-home"></span>
                        Dashboard</a>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Patients Information</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="add-patient.html">View Patient info </a>
                        <a class="dropdown-item" href="patients.html">Update Patient info </a>
                        <a class="dropdown-item" href="about-patient.html">Patient Details</a>
                        <a class="dropdown-item" href="edit-patient.html">Edit Patient</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Patients History</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="add-patient.html">Record Patient info </a>
                        <a class="dropdown-item" href="patients.html">Update Patient info </a>
                        <a class="dropdown-item" href="about-patient.html">View Patient info</a>
                        <a class="dropdown-item" href="edit-patient.html">Edit Patient</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Appointment</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="add-patient.html">View Appointment </a>
                        <a class="dropdown-item" href="patients.html">Update Appointment </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Laboratory</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="add-patient.html">Send Order </a>
                        <a class="dropdown-item" href="patients.html"> View Lab Result</a>
                    </div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                            Medication</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="add-patient.html">Prescribe Medication</a>
                        </div>
                    </li>
                </li>

                
            </ul>
        </div>
    </nav>
</div>