{% if technicians_with_test_counts %}
<h3 class="widget-title">Laboratory Technician List</h3>
<div class="table-responsive mb-3">
    <ul>
        
        <li></li>
  
    </ul>
    <table id="tableId" class="table table-bordered table-striped">
        <thead>
       
            <tr>
          
        
                <th>Technician Name</th>
                <th>Number of Tasks Assigned</th>
    
            </tr>
        </thead>
        <tbody>
            {% for technician, test_count in technicians_with_test_counts %}
            <tr>
               
                <td>{{ technician }} </td>
                <td> {{ test_count }} </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>


</div>
{% endif %}