{% extends 'doctor/dr_dash.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>
    {% if patient_count %}
  <p> unchecked patients : {{ patient_count }}</p>
    {% endif %}
    {% for patient in patients %}
    <p>{{ patient.patient_id}}</p>
    <p>{{ patient.first_name}}</p>
    <p>{{ patient.last_name}}</p>
    <p>{{ patient.age}}</p>
    <p>{{ patient.Doctor_ID}}</p>
    {% endfor %}

    <form action="{% url 'check_patient' patient.patient_id %}">
      <button type='submit'> checked</button>
    </form>
  </div>
</body>
</html>
{% endblock %}