{% extends 'doctor/dr_dash.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-6" style="display: flex; flex-direction: column;">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
      <p> Unchecked patients are : {{ patient_count }}</p>
       
        {% for patient in patients %}
        <p>Patient ID:{{ patient.patient_id}}</p><br>
        <p>Patient First Name:{{ patient.first_name}}</p><br>
        <p>Patient Last Name:{{ patient.last_name}}</p><br>
        <p>Patient Age:{{ patient.age}}</p><br>
        <p>Doctor Name:{{ patient.staff}}</p><br>
        <form action="{% url 'check_patient' patient.patient_id %}">
          <button type='submit'> checked</button>
        </form>
        {% endfor %}
    </div>
  </div>
</body>
</html>
{% endblock %}