
.form-control {
   
    border-radius: 5px;
    margin-bottom: 10px;
}


.btn-primary {
   
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
.container{
    background-color: #ffffff;
}
label {
    /* Add your custom styles here */
    font-weight: bold;
    color: #fdfdfd;  /* Blue color, you can customize */
}
body{
    background-color: rgb(112, 110, 110);
}
