{% extends 'laboratory_dash/lab_dashboard.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block 'title' %}
  <title>Lab Requests</title>
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    <!-- Page Content -->
    <div id="content">

  <div class="container home">
    <div class="container mt-0">
      <div class="row breadcrumb-bar">
        <div class="col-md-6">
          <h3 class="block-title">Laboratory Requests</h3>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">
                <span class="ti-home"></span>
              </a>
            </li>
            <li class="breadcrumb-item active">Requests</li>
            <li class="breadcrumb-item ">Untested Requests</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <p class="wiget-title color-yellow "> Remaning untested requests are : {{ request_count }}</p>

      {% for request in requests %}

      <div class="col-md-6">
        <div class="widget-area proclinic-box-shadow color-red" style="padding: 10px 30px; border-radius: 20px;">

          <div class="widget-right justify-content-center">

            <h3 class="wiget-title color-green text-center">Lab Requests</h3>

            <p><strong style="font-size: large;">Patient ID:&nbsp;</strong>{{ request.PatientID}}</p>
            <p><strong style="font-size: large;">lab. type:&nbsp;</strong>{{ request.Lab_type}}</p>
            <p><strong style="font-size: large;">Doctor Name:&nbsp;</strong>{{ request.Doctor_ID}}</p>
            <p><strong style="font-size: large;">Status:&nbsp;</strong>{{ request.Is_tested}}</p>
            <p><strong style="font-size: large;">Admitted Date:&nbsp;</strong>{{ request.Admit_date}}</p>
            <form action="{% url 'checked_request' request.PatientID %}">
              <button type='submit' class="btn btn-outline-primary mt-3 mb-0 me-4"><span class="ti-eye"></span>
                Tested</button>
              <a href="#" class="btn btn-outline-info mt-3 mb-0"><span class="ti-pencil-alt"></span>
                Test</a>
            </form>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>
</div>
</body>

</html>
{% endblock %}