<div class="container menu-nav" id="container-min">
    <nav class="navbar navbar-expand-lg proclinic-bg text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu text-white"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-home"></span>
                        Dashboard</a>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Vital Information</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'vital_info' %}">Add Vital Info </a>
                        <a class="dropdown-item" href="{% url 'dis_vitals' %}">View vital Information </a>
                        <a class="dropdown-item" href="{% url 'dis_patients'%}">View patients </a>
                      
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Rooms</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add_room' %}">Add Rooms</a>
                        <a class="dropdown-item" href="{% url 'dis_room' %}">View Rooms</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Medication</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'add_medication' %}">Add Medication</a>
                        <a class="dropdown-item" href="{% url 'dis_medication' %}">View Medication</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Bed Allocation</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'allocate_room' %}">Allocate Bed</a>
                        <a class="dropdown-item" href="{% url 'dis_allocate_bed' %}">View Allocated</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><span class="ti-wheelchair"></span>
                        Languages</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">  <div id="google_translate_element" class=""></div></a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>